.fieldset {
    border: 2px solid red;
    /* padding: 5px; */
    /* margin: auto; */
    /* border: 1px solid #ccc; */
    border-radius: 12px;
    padding: 10px;
    margin: 10px;
    width: 80%;
    display: inline-block
}



.legend {
    font-weight: bold;
    margin-bottom: 10px;
}